.body {
    padding-top: 35px;
    padding-left: 50px;
    padding-right: 50px;
}

.todoSS {
    height: 100%;
    width: 100%;
}

ul{
    padding-left:0;
}
  
li{
    list-style:none;
}