.navbar {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    gap: 20px;
    padding: 0.3rem;
  }
  
  .nav-item {
    display: flex;
    position: relative;
    align-items: center;
  }
  
  .nav-summary {
    text-decoration: none;
    color: rgb(255, 255, 255);
  }

  .nav-summary:hover {
    text-decoration: none;
    color: rgb(161, 161, 161);
  }
  
  .nav-content {
    display: none;
    position: absolute;
    top: 100%;
    background-color: rgba(255, 255, 255, 0.3);
    border: 10px;
    border-radius: 100%;
    border-color: rgb(243, 205, 255);
    padding: 10px;
    white-space: nowrap;
    color: rgb(0, 162, 255);
    font-weight: bold;
  }
  
  .nav-item:hover .nav-content {
    display: block;
  }
  