.mypic {
        width: 30%;
        height: auto;
        object-fit: cover;
        border-radius: 20px;
}

.like-item img {
        width: 30%;
        height: auto;
        object-fit: cover;
        border-radius: 12px;
        vertical-align: center;
}

.like-item-content img {
        width: 100%;
        height: auto;
}

.portfolio {
        width: 50%;
        height: auto;
        border: 9px solid rgba(98, 18, 145, 0.527);
}